{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Activo Fijo</h1>
    <div class="btn-toolbar mb-2 mb-md-0"> 
    </div>
  </div>

  <center>
    <form action="crear_activo_fijo"  method="post"> {% csrf_token %}
      
      <div class="form-group row">
        <label for="departamento" class="col-2 col-form-label">Departamento</label> 
        <div class="col-4">
          <select id="departamento" name="departamento" class="form-control" required>  
            <option value="">Seleccione un departamento</option>          
            {% for d in Departamentos %}
            <option value="{{ d.pk }}">{{ d.Departamento }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="codigo " class="col-2 col-form-label">Código Activo</label> 
        <div class="col-4">
          <input type="text" placeholder="Digite el código de activo" name="codigo" class="form-control" required>
        </div>
      </div>      
      <div class="form-group row">
        <label for="descripcion" class="col-2 col-form-label">Descripción Activo</label> 
        <div class="col-4">
          <input type="text" placeholder="Digite la descripción del activo" name="descripcion" class="form-control" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="tipo_activo" class="col-2 col-form-label">Tipo Activo</label> 
        <div class="col-4">
          <select id="tipo_activo" name="tipo_activo" class="form-control" required>    
            <option value="">Seleccione un tipo de activo</option>             
            {% for t in TipoActivo %}
            <option value="{{ t.pk }}">{{ t.TipoActivo }}</option>
            {% endfor %}
          </select>
        </div>
      </div>   
      <div class="form-group row">
        <label for="CentroCosto" class="col-2 col-form-label">Centro Costo</label> 
        <div class="col-4">
          <input type="text" placeholder="Digite el centro de costo" name="CentroCosto" class="form-control" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="cuenta_bancaria" class="col-2 col-form-label">Cuenta Bancaria</label> 
        <div class="col-4">
          <select id="cuenta_bancaria" name="cuenta_bancaria" class="form-control" required>
            <option value="">Seleccione una cuenta bancaria</option>                 
            {% for cu in CuentaBancaria %}
            <option value="{{ cu.pk }}">{{ cu.Nombre_Tarjeta }}</option>
            {% endfor %}
          </select>
        </div>
      </div>  
     
      <div class="form-group row">
        <label for="Debito" class="col-2 col-form-label">Débito</label> 
        <div class="col-4">
          <input type="text" placeholder="Digite el monto del débito" name="Debito" class="form-control" required>
        </div>
      </div> 
      <div class="form-group row">
        <label for="Credito" class="col-2 col-form-label">Crédito</label> 
        <div class="col-4">
          <input type="text" placeholder="Digite el monto del crédito" name="Credito" class="form-control" required>
        </div>
      </div>   
      <div class="form-group row">
        <div class="offset-0 col-8">
          <button type="submit" class="btn btn-success" onclick="activar_notificiacion_nuevo()">Guardar</button>
        </div>
      </div>
    </center>
     
    </form>
  

  </main>

{% endblock %}
