{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Editar Periodos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <script type="text/JavaScript">
             var f = new Date(); document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
              </script>
    </div>
  </div>

  <div>
 
  <form>
    <div class="form-group row">
      <label for="text1" class="col-2 col-form-label">Codigo</label> 
      <div class="col-4">
        <input id="text1" name="text1" type="text" class="form-control" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="puesto " class="col-2 col-form-label">Fecha de Inicio</label> 
      <div class="col-4">
        <input type="date" name="fecha" class="form-control" required>            
      </div>
    </div>
    <div class="form-group row">
      <label for="usuario" class="col-2 col-form-label">Fecha Final </label> 
      <div class="col-4">
        <input type="date" name="fecha" class="form-control" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-4 col-8">
        <button type="button" class="btn btn-success" onclick="activar_notificiacion_editar()">Actualizar</button>
        <br>
        <br>
      </div>
    </div>
    <hr>
  </form>
    </div>

{% endblock %}