{% extends "base.html" %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
    align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Periodos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <form action="registro"  method="post"> 
    {% csrf_token%}
    <center>
      <div class="form-group row">
        <label for="text1" class="col-2 col-form-label">Código</label>
        <div class="col-4">
          <input id="text1" placeholder="Digite el código" name="codigo"
            type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="puesto " class="col-2 col-form-label">Fecha de Inicio</label>
        <div class="col-4">
          <input type="date" id="date1" placeholder="Desde" name="fecha_inicio"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="usuario" class="col-2 col-form-label">Fecha Final </label>
        <div class="col-4">
          <input type="date" id="date2" placeholder="Hasta" name="fecha_final"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-0 col-8">
          <button type="submit" class="btn btn-success">Abrir Período</button>
          <br>
          <br>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </center>
  </form>
  <div>
    <table class="table" id="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Fecha de Inicio</th>
          <th>Fecha Final</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for p in Periodos%}
        <tr>
          <td>{{p.Codigo}}</td>
          <td>{{p.FechaInicio}}</td>
          <td>{{p.FechaFin}}</td>
          {% if p.Estado == 1 %}
          <td> 
            <button class="btn btn-danger" role="button" data-toggle="modal" data-target="#confirm-delete-modal" data-url="editar_estado/{{p.id}}">Cerrar Período</button>
          </td>
          {% else %}
          <td> <button disabled class="btn btn-danger" role="button">Cerrado</button></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      <div class="modal" tabindex="-1" role="dialog" id="confirm-delete-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar cierre de periodo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>¿Estás seguro de que deseas cerrar el periodo?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <a href="#" class="btn btn-danger" id="confirm-delete-btn">Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </table>
  </main>

  <script>
    $('#confirm-delete-modal').on('show.bs.modal', function(e) {
      $(this).find('#confirm-delete-btn').attr('href', $(e.relatedTarget).data('url'));
    });
  </script>
  {% endblock %}