{% extends "base.html" %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
    align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Cuentas por Pagar</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <table class="table ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Factura</th>
        <th>Codigo de Cliente</th>
        <th>Cliente</th>
        <th>Monto CRC</th>
        <th>Monto USD</th>
        <th>Botones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>FC3322</td>
        <td>cod</td>
        <td>10</td>
        <td>100</td>
        <td>630</td>
        <td>
          <button type="button" class="btn btn-danger">Eliminar </button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>FC3322</td>
        <td>cod</td>
        <td>10</td>
        <td>100</td>
        <td>630</td>
        <td> <button type="button" class="btn btn-danger">Eliminar </button></td>
      </tr>
    </tbody>
  </table>
</main>

{% endblock %}