{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Nueva Cuenta por Pagar</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    
    </div>
  </div>
  <div>

    <br>
    <br>
    <form>
      <center>
      <table class="table" style="width: 80%;">

        <tbody>
          <tr>
            <td><b>Fecha</td>
            <td><b>Dirección</td>
          </tr>
          <tr>
            <td><input type="date" name="fecha" class="form-control"></td>
            <td><input id="direccion" name="direccion" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><b>Compañia</td>
            <td><b>Ced Juridica</td>
          </tr>
          <tr>
            <td><input id="compania" name="compania" type="text" class="form-control"></td>
            <td><input id="ced_jud" name="ced_jud" type="text" class="form-control"></td>
          </tr>


          <tr>
            <td><b>División</td>
            <td><b>Impuesto</td>
          </tr>
          <tr>
            <td><input id="division" name="division" type="text" class="form-control"></td>
            <td><input id="impuesto" name="impuesto" type="text" class="form-control"></td>
          </tr>


          <tr>
            <td><b>Cliente</td>
            <td><b>Monto CRC</td>
          </tr>
          <tr>
            <td><input id="cliente" name="cliente" type="text" class="form-control"></td>
            <td><input id="mono_crc" name="mono_crc" type="text" class="form-control"></td>
          </tr>

          <tr>
            <td><b>Codigo Cliente</td>
            <td><b>Monto USC</td>
          </tr>
          <tr>
            <td><input id="cliente" name="cliente" type="text" class="form-control"></td>
            <td><input id="mono_usd" name="mono_usd" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><b>Factua</td>
            <td><b>Asiento</td>
          </tr>
          <tr>
            <td><input id="factura" name="factura" type="text" class="form-control"></td>
            <td><input id="asiento" name="asiento" type="text" class="form-control"></td>
          </tr>
        </tbody>
        </table>
    
          <button type="button" class="btn btn-success" onclick="activar_notificiacion_nuevo()">Guardar</button>
          <br>
          <br>
     
    </form>
  </div>


  </main>

{% endblock %}