{% extends "base.html" %}
{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Editar Balance</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <div>
    <br>
    <br>
    <form action="update_balance/{{balance.id}}" method="post">
      {% csrf_token %}
      <center>
        <table class="table" style="width: 80%;">
          <tbody>
            <tr>
              <td>
                <b># Factura</b>
              </td>
              <td>
                <b>Centro de Costos</b>
              </td>
            </tr>
            <tr>
              <td>
                <input type="invoice" name="invoice" class="form-control" value="{{ balance.CodFactura }}" required>
              </td>
              <td>
                <input id="costCenter" name="costCenter" type="number" class="form-control" value="{{ balance.CentroCosto|floatformat:'0' }}" required>
              </td>
            </tr>
            <tr>
              <td>
                <b>Cuenta Bancaria</b>
              </td>
              <td>
                <b> Crédito</b>
              </td>
            </tr>

            <tr>
              <td>
                <select id="IdCuentaBan" name="IdCuentaBan" class="form-control" required>
                  {% for accs in accounts %}
                  <option value="{{ accs.pk }}" {% if accs.pk == balance.IdCuentaBan.pk %} selected="selected" {% endif %}>
                    {{ accs.Nombre_Tarjeta }}
                  </option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <input id="credit" name="credit" type="number" class="form-control" value="{{ balance.Credito|floatformat:'0' }}" required>
              </td>
            </tr>

            <tr>
              <td>
                <b>Débito</b>
              </td>
              <td class="col-md-6">
                <b>Período</b>
              </td>

            </tr>

            <tr>
              
              <td>
                <input id="debit" name="debit" type="number" class="form-control" value="{{ balance.Debito|floatformat:'0' }}" required>
              </td>

              <td>
                <select id="IdPeriodo" name="IdPeriodo" class="form-control" required>
                  {% for p in periods %}
                  <option value="{{ p.pk }}" {% if p.pk == balance.IdPeriodo.pk %} selected="selected" {% endif %}>
                    {{ p.FechaInicio }} - {{p.FechaFin}}
                  </option>
                  {% endfor %}
                </select>
              </td>

            </tr>
            
           
          </tbody>
        </table>
        <a class="btn btn-info" type="button" href="/contabilidad_general">Volver</a>
        <button type="submit" class="btn btn-primary" onclick="activar_notificiacion_editar()">Actualizar</button>
        <br>
        <br>
    </form>
  </div>
</main>
{% endblock %}