{% extends "base.html" %}
{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Nuevo Balance</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <div>
    <br>
    <br>
    <form action="register_balance" method="post">
      {% csrf_token %}
      <center>
        <table class="table" style="width: 80%;">
          <tbody>
            <tr>
              <td>
                <b>Número de Factura</b> 
                <input type="invoice" placeholder="Digite el número de factura" name="invoice" class="form-control" required>
              </td>
              <td>
                <b>Centro de Costos</b>
                <input id="costCenter" placeholder="Digite el centro de costo" name="costCenter" type="number" class="form-control" required>
              </td>
            </tr>
       
            <tr>
              <td>
                <b>Cuenta Bancaria</b>
                <select id="IdCuentaBan" name="IdCuentaBan"  placeholder="Seleccione una cuenta bancaria" class="form-control" required>
                  <option value="">Seleccione una cuenta bancaria</option>
                  {% for accs in accounts %}
                  <option value="{{ accs.pk }}">
                    {{ accs.Nombre_Tarjeta }}
                  </option>
                  {% endfor %}
                </select>
              </td>
           
              <td>
                <b>Período</b>
                <select id="IdPeriodo" name="IdPeriodo" class="form-control" required>
                  <option value="">Seleccione un periodo</option>
                  {% for p in periods %}
                   {% if p.Estado == 1 %}
                    <option value="{{ p.pk }}">
                      {{ p.FechaInicio }} - {{p.FechaFin}}
                    </option>
                   {% endif %}
                  {% endfor %}
                </select>
              </td>
            </tr>
            

            <tr>
              <td>
                <b>Crédito</b>
                <input id="credit" name="credit"  placeholder="Digite monto de Crédito" type="number" class="form-control" required>
              </td>
              <td>
                <b>Débito</b>
                <input id="debit" name="debit" placeholder="Digite monto del Debito" type="number" class="form-control" required>
              </td>
            </tr>
          
         
          </tbody>
        </table>
        <a class="btn btn-info" type="button" href="/contabilidad_general">Volver</a>
        <button type="submit" class="btn btn-success" onclick="activar_notificiacion_nuevo()">Guardar</button>
        <br>
        <br>
    </form>
  </div>
</main>
{% endblock %}