{% extends "base.html" %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
    align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Bancos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <table class="table" id="table">
    <thead>
      <tr>
        <th>Departamento</th>
        <th>Código</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for b in Bancos %}
      <tr>
        <td>{{b.IdDepartamento}}</td>
        <td>{{b.Codigo}}</td>
        {% if b.Estado == True %}
        <td>Activo</td>
        {% else %}
        <td>Inactivo</td>
        {% endif %}
        <td> <a href="edicion_banco/{{b.id}}" type="button" class="btn
            btn-warning">Editar </a>          
            <button class="btn btn-danger" role="button" data-toggle="modal" data-target="#confirm-delete-modal" data-url="eliminar_banco/{{b.id}}">Eliminar</button>
          </td>
      </tr>
      {% endfor %}
    </tbody>
    <div class="modal" tabindex="-1" role="dialog" id="confirm-delete-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar eliminación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Estás seguro de que deseas eliminar el banco?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a href="#" class="btn btn-danger" id="confirm-delete-btn">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </table>
</main>

<script>
  $('#confirm-delete-modal').on('show.bs.modal', function(e) {
    $(this).find('#confirm-delete-btn').attr('href', $(e.relatedTarget).data('url'));
  });
</script>
{% endblock %}