{% extends "base.html" %}

{% block body %}



<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Clientes</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <div>
    <table class="table ">
      <thead >
        <tr>        
           <th>Nombre Completo</th>
           <th>Tipo Cedula</th>
           <th>Cédula</th>
           <th>Dirección</th>
           <th>Razón Social</th>
           <th>Correo</th>
           <th>Tipo Cliente</th>
           <th>Usuario</th>
           <th>Rol</th>
           <th>Acciones</th>
         </tr>
       </thead>
       <tbody>
         {% for c in Clientes%}
            <tr>          
             <td>{{c.NombreCompleto}}</td>
             <td>{{c.TipoCedula}}</td>
             <td>{{c.Cedula}}</td>
             <td>{{c.Direccion}}</td>
             <td>{{c.RazonSocial}}</td>
             <td>{{c.E_Mail}}</td>
             <td>{{c.IdTipoCliente}}</td>
             <td>{{c.IdUsuario}}</td>
             <td>{{c.IdRol}}</td>             
             <td> <a href="editar_estado/{{p.id}}" class="btn btn-dark" role="button">Cerrar Periodo </a></td> 
          </tr>  
         {% endfor %}        
       </tbody>
    </table>

  </main>





{% endblock %}