{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Banco</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

    <form action="crear_banco" style="margin-left: 25%;" method="post"> {% csrf_token %}
      <center>
      
        
      <div class="form-group row">
        <label for="usuario" class="col-2 col-form-label">Departamento</label> 
        <div class="col-4">
          <select id="departamento" name="departamento" class="form-control" required>   
            <option value="">Seleccione un departamento</option>         
            {% for d in Departamentos %}
            <option value="{{ d.pk }}">{{ d.Departamento }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="usuario" class="col-2 col-form-label">Código</label> 
        <div class="col-4">
          <input type="text" placeholder="Digite el código" name="codigo" class="form-control" required>
        </div>
      </div>      
      <div class="form-group row">
        <label for="estado" class="col-2 col-form-label">Estado</label> 
        <div class="col-4">
          
          <select id="estado" name="estado" class="form-control" required>   
            <option value="">Seleccione un estado</option> 
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>
        </div>
      </div> 
      <div class="form-group row">
        <div class="offset-0 col-8">

        <button type="submit" class="btn btn-success" onclick="activar_notificiacion_nuevo()">Guardar</button>
        </div>
      </div>
    </center>
     
    </form>
  

  </main>

{% endblock %}