<!DOCTYPE html>
<html lang="es">
   <head>
      {% load static %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" type="image/x-icon" href="{% static 'img/ico.png' %}">
      <title>FRO & Asociados</title>
      <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
      <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">  

      <link href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      

   </head>
   <body id="page-top">
      {% if not user.is_authenticated %}
      <script> window.location = "../login"; </script>
      {% endif %}
    


      <div id="wrapper">
         <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">

                <img src="{% static 'img/iso.png' %}" style="width: 60%;">
            
            </a>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
               Contabilidad a su alcance</p>
            </div>
            
  
            <li class="nav-item {% if request.path == '/home/' %} active {% endif %}">
               <a class="nav-link" href="{% url 'home' %}" data-toggle="collapse" data-target="#general" aria-expanded="true" aria-controls="collapsePages">
               <i class="fas fa-fw fa-folder"></i>
               <span>General</span>
               </a>
               <div id="general" class="collapse {% if request.path == '/home/' %} show {% endif %}  {% if request.path == '/home/clientes' %} show {% endif %} {% if request.path == '/home/empleados' %} show {% endif %}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                     <h6 class="collapse-header">Informativo:</h6>
                     <a class="collapse-item" href="{% url 'home' %}">Bitácora</a>
                     <h6 class="collapse-header">Acciones:</h6>
                     <a class="collapse-item" href="{% url 'clientes' %}">Nuevo Cliente</a>
                     <a class="collapse-item" href="{% url 'empleados' %}">Nuevo Empleado</a>
                  </div>
               </div>
            </li>
            <li class="nav-item ">
               <a class="nav-link" href="{% url 'contabilidad_general' %}" data-toggle="collapse" data-target="#contabilidad" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-wallet"></i>
               <span>Contabilidad general</span>
               </a>
               <div id="contabilidad" class="collapse {% if request.path == '/contabilidad_general/' %} show {% endif %} {% if request.path == '/form_agregar_balance/' %} show {% endif %}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                     <h6 class="collapse-header">Informativo:</h6>
                     <a class="collapse-item" href="{% url 'contabilidad_general' %}">Balance General</a>
                     <h6 class="collapse-header">Acciones:</h6>
                     <a href="{% url 'form_agregar_balance' %}" class="collapse-item">Agregar Balance</a>
                  </div>
               </div>
            </li>
            <li class="nav-item ">
               <a class="nav-link" href="{% url 'cuentas_cobrar' %}" data-toggle="collapse" data-target="#cuentas_cobrar" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-sort-amount-up-alt"></i>
               <span>Cuentas por CXC/CXP</span>
               </a>
               <div id="cuentas_cobrar" class="collapse {% if request.path == '/cuentas_cobrar/' %} show {% endif %} {% if request.path == '/form_nueva_factura/' %} show {% endif %}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                     <h6 class="collapse-header">Informativo:</h6>
                     <a class="collapse-item" href="{% url 'cuentas_cobrar' %}"> Cuentas por CXC/CXP</a>
                     <h6 class="collapse-header">Acciones:</h6>
                     <a href="{% url 'form_nueva_factura' %}" class="collapse-item">Registrar Cuenta</a>
                  </div>
               </div>
            </li>




           
           <li class="nav-item {% if request.path == '/cuentas_bancarias/' %} active {% endif %}">
            <a class="nav-link"  href="{% url 'cuentas_bancarias' %}">
              <i class="fas fa-university"></i>
              <span>Cuentas Bancarias</span>
            </a>
         </li>


            <li class="nav-item ">
               <a class="nav-link" href="{% url 'activos_fijos' %}" data-toggle="collapse" data-target="#activos_fijos" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-shopping-basket"></i>
               <span>Activos fijos</span>
               </a>
               <div id="activos_fijos" class="collapse  {% if request.path == '/activos_fijos/' %} show {% endif %} {% if request.path == '/form_activo_fijo/' %} show {% endif %}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                     <h6 class="collapse-header">Informativo:</h6>
                     <a class="collapse-item" href="{% url 'activos_fijos' %}">Activos fijos</a>
                     <h6 class="collapse-header">Acciones:</h6>
                     <a href="{% url 'form_activo_fijo' %}" class="collapse-item">Nuevo Activo Fijo</a>
                  </div>
               </div>
            </li>

            <li class="nav-item {% if request.path == '/periodos/' %} active {% endif %}">
              <a class="nav-link "  href="{% url 'periodos' %}">
                <i class="fas fa-stopwatch"></i>
                <span>Periodos</span>
              </a>
           </li>


          
            <li class="nav-item ">
               <a class="nav-link" href="{% url 'banco' %}" data-toggle="collapse" data-target="#bancos" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-university"></i>
               <span>Banco</span>
               </a>
               <div id="bancos" class="collapse {% if request.path == '/banco/' %} show {% endif %} {% if request.path == '/form_nuevo_recibo/' %} show {% endif %}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                     <h6 class="collapse-header">Informativo:</h6>
                     <a class="collapse-item" href="{% url 'banco' %}">Banco</a>
                     <h6 class="collapse-header">Acciones:</h6>
                     <a href="{% url 'form_banco' %}" class="collapse-item">Nuevo Banco</a>
                  </div>
               </div>
            </li>
            <li class="nav-item ">
               <a class="nav-link" href="{% url 'nominas' %}" data-toggle="collapse" data-target="#nominas" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-users"></i>
               <span>Nominas</span>
               </a>
               <div id="nominas" class="collapse {% if request.path == '/nominas/' %} show {% endif %} {% if request.path == '/form_nomina/' %} show {% endif %}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                     <h6 class="collapse-header">Informativo:</h6>
                     <a class="collapse-item" href="{% url 'nominas' %}">Nóminas</a>
                     <h6 class="collapse-header">Acciones:</h6>
                     <a href="{% url 'form_nomina' %}" class="collapse-item">Nueva nómina</a>
                  </div>
               </div>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
               Perfil
            </div>
            <li class="nav-item">
               <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
               <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
               Cerrar Sesión
               </a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
               <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
         </ul>
         <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
               <div class="container-fluid">
                  {% block body%}
                  {% endblock %}
               </div>
            </div>
            <footer class="sticky-footer bg-white">
               <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                     <span>Copyright &copy; Acco-Manag</span>
                  </div>
               </div>
            </footer>
         </div>
      </div>
      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">¿Listo para cerrar sesión?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
               </div>
               <div class="modal-body">Al seleccinonar cerrar sesion la sesión actual acabara, ¿estas seguro?.</div>
               <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                  <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar Sesión</a>
               </div>
            </div>
         </div>
      </div>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
      <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     
 
      <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
      <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>

     <script>
      toastr.options = {"closeButton": true,"newestOnTop": false,"progressBar": true,
					  "positionClass": "toast-top-right","preventDuplicates": false,
					  "onclick": null,"showDuration": "300","hideDuration": "1000",
					  "timeOut": "5000","extendedTimeOut": "1000","showEasing": "swing",
					  "hideEasing": "linear","showMethod": "fadeIn","hideMethod": "fadeOut"}; 

      function activar_notificiacion_editar(){
         localStorage.setItem("ESTADO", 1);
      }
      function activar_notificiacion_nuevo(){
         localStorage.setItem("ESTADO", 2);
      }
      var notificacion = localStorage.getItem("ESTADO");
      if(notificacion == 1){
         toastr.success("Modificado con exito!");
         localStorage.setItem("ESTADO", -1);
      }
      if(notificacion == 2){
         toastr.success("Registrado con exito!");
         localStorage.setItem("ESTADO", -1);
      }
      
      $(document).ready(function () {
         var table = $('#table').DataTable( {
                  "language": {
                     "url": "//cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"
                  },
                  dom: 'Bfrtip',
                  buttons: [
                  
                  {
                extend: 'csvHtml5',
                exportOptions: {
                  columns: [':visible :not(:last-child)']
                }
            },

                  {
                extend: 'excel',
                exportOptions: {
                  columns: [':visible :not(:last-child)']
                }
            },

            {
                extend: 'print',
                exportOptions: {
                  columns: [':visible :not(:last-child)']
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                  columns: [':visible :not(:last-child)']
                }
            }

            
            
            ,
            'colvis'
        ],
                  paging: true,
                  ordering: true,
                  info: true,
                  responsive: true,
                  fixedHeader: true,
                  extend: 'pdfHtml5',
                  


            } );

            new $.fn.dataTable.FixedHeader( table );
            $('#date1').datepicker({format: 'mm/dd/yyyy', language: 'es'});
            $('#date2').datepicker({format: 'mm/dd/yyyy', language: 'es'});

      });
         </script>
   </body>
</html>