{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info border-bottom-info">
    <h1 class="h2">General</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <script type="text/JavaScript">
             var f = new Date(); document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
              </script>
    </div>
  </div>
  <div>

  <div>  
<div>
  <table class="table"  id="table">
    <thead >
      <tr>
        <th>Usuario</th>
         <th>Acción</th>
         <th>Descripción</th>
         <th>Fecha</th>         
       </tr>
     </thead>
     <tbody>
      {% for b in Bitacoras%}
      <tr>          
       <td>{{b.IdUsuario}}</td>
       <td>{{b.Accion}}</td>
       <td>{{b.Descripcion}}</td>
       <td>{{b.Fecha}}</td>       
    </tr>  
   {% endfor %}        
     </tbody>
  </table>
</main>

{% endblock %}