{% extends "base.html" %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
    align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h1">Cuenta Bancaria</h1>
    <div class="btn-toolbar mb-2 mb-md-0">

    </div>
  </div>
  <div>
    <br>
    <form action="registrarCuentaBancaria" method="post">
      {% csrf_token %}
      <CENTER>
        <table class="table" style="width: 80%;">
          <tbody>
            <tr>
              <td colspan="2">
                <b>Compañía</b>
                <select id="compania" name="compania" class="form-control"
                  required>
                  <option>Seleccione una compañía</option>
                  {% for c in companias %}
                  <option value="{{ c.pk }}">{{ c.Nombre }}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>

            <tr>
              <td><b>Nombre completo</b>
                <input id="nombre" placeholder="Digite su nombre completo"
                  name="nombre" type="text" class="form-control" required>
              </td>
              <td><b>Código cvv <b>
                    <input id="cvv" placeholder="Digite el código cvv"
                      name="cvv" type="number" class="form-control" required>
                  </td>
                </tr>
                <tr>
                  <td><b>Banco</b>
                    <select id="banco" name="banco" class="form-control"
                      required>
                      <option value="">Seleccione un Banco</option>
                      {% for b in Bancos %}
                      <option value="{{ b.pk }}">{{ b.Codigo }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td><b>Número de IBAN</b>
                    <input id="iban" placeholder="Digite el número IBAN"
                      name="iban" type="text" class="form-control" required>
                  </td>
                </tr>
                <tr>
                  <td><b>Número de cuenta</b>
                    <input id="nuemro_cuenta" placeholder="Digite el número de cuenta"
                      name="numero_cuenta" type="number" class="form-control"
                      required>
                  </td>
                  <td>
                    <b>Número de contrato</b>
                    <input id="numero_contrato" placeholder="Digite el número de contrato" 
                    name="numero_contrato" type="number" class="form-control" 
                    required>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="form-group row">
              <div class="offset-2 col-8">
                <button type="submit" class="btn btn-success">Guardar</button>
                <br>
                <br>
              </div>
            </div>
            <hr>
          </form>
        </div>
        <div>
          <br>
          <br>
          <!--{% if messages %}
          {% for message in messages %}
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
          </div>
          {% endfor %}
          {% endif %}-->
          <div>
            <table class="table" id="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Banco</th>
                  <th>Número IBAN</th>
                  <th>Compañía</th>
                  <th>Número contrato</th>
                  <th class="not-export-col">Botones</th>
                </tr>
              </thead>
              <tbody>
                {% for c in Cuentas %}
                <tr>
                  <td>{{c.Nombre_Tarjeta}}</td>
                  <td>{{c.IdBanco}}</td>
                  <td>{{c.CuentaIBAN}}</td>
                  <td>{{c.IdCompania}}</td>
                  <td>{{c.numContrato}}</td>
                  <td> <a href="editar_cuenta_bancaria/{{c.id}}" class="btn
                      btn-warning" role="button">Editar </a>
                    <button class="btn btn-danger" role="button"
                      data-toggle="modal" data-target="#confirm-delete-modal"
                      data-url="eliminar_cuenta/{{c.id}}">Eliminar</button>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
              <div class="modal" tabindex="-1" role="dialog"
                id="confirm-delete-modal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Confirmar eliminación</h5>
                      <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>¿Estás seguro de que deseas eliminar esta cuenta
                        bancaria?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancelar</button>
                      <a href="#" class="btn btn-danger"
                        id="confirm-delete-btn">Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
            </table>
          </main>

          <script>
            $('#confirm-delete-modal').on('show.bs.modal', function(e) {
              $(this).find('#confirm-delete-btn').attr('href', $(e.relatedTarget).data('url'));
            });
          </script>
          {% endblock %}