{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
    align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Editar Cuenta Bancaria</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <form action="editar_cuenta/{{id}}" method="post">{% csrf_token %}
    <CENTER>
      <table class="table" style="width: 80%;">

        <tbody>
          <tr>
            <td><b>Nombre completo</td>
              <td><b>Código cvv</td>
              </tr>
              <tr>
                <td><input value="{{Cuenta.Nombre_Tarjeta}}" id="nombre"
                    name="nombre" type="text" class="form-control" required></td>
                <td><input placeholder="Vuelva a ingresar el código" id="cvv"
                    name="cvv" type="text" class="form-control" required></td>
              </tr>
              <tr>
                <td><b>Banco</td>
                  <td><b>Número de IBAN</td>
                  </tr>
                  <tr>
                    <td>
                      <select id="banco" name="banco" class="form-control
                        required>
                        <option value="{{Cuenta.IdBanco.pk}}" selected>{{Cuenta.IdBanco}}</option>
                        {% for b in Bancos %}
                        <option value="{{ b.pk }}">{{ b.Codigo }}</option>
                        {% endfor %}
                      </select></td>
                    <td><input value="{{Cuenta.CuentaIBAN}}" id="iban"
                        name="iban" type="text" class="form-control" required></td>
                  </tr>

                  <div class="form-group row">
                    <label for="compania" class="col-2 col-form-label">Compañía</label>
                    <div class="col-4">
                      <select id="compania" name="compania" class="form-control"
                        required>
                        <option value="{{Cuenta_Bancaria.IdCompania.pk }}">{{CuentaBancaria.IdCompania}}</option>
                        {% for c in Compania %}
                        <option value="{{ c.pk }}">{{ c.Nombre }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <tr>
                    <td><b>Número de cuenta</td>
                      <td><b>Número de contrato</td>
                      </tr>
                      <tr>
                        <td><input value="{{Cuenta.NumCuenta}}"
                            id="nuemro_cuenta" name="numero_cuenta" type="text"
                            class="form-control" required></td>
                        <td><input value="{{Cuenta.numContrato}}"
                            id="numero_contrato" name="numero_contrato"
                            type="text" class="form-control" required></td>
                      </tr>

                    </tbody>
                  </table>

                  <div class="form-group row">
                    <div class="offset-2 col-8">
                      <button type="submit" class="btn btn-primary">Actualizar</button>
                      <br>
                      <br>
                    </div>
                  </div>
                  <hr>
                </form>

              </main>
              {% endblock %}
