{% extends "base.html" %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4" style="padding-left: 18.5rem!important;">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Balance General</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <div>
<center>        
  <a href="{% url 'form_balance_general' %}" class="btn btn-primary" style="margin-left: 70%;">Nuevo recibo</a>
  </center>
    <br>
    <br>
  </div>
    <table class="table ">
      <thead >
        <tr>
          <th>ID</th>
           <th>Division</th>
           <th>Centro de Costos</th>
           <th>Cuenta Bancaria</th>
           <th>Debito CRC</th>
           <th>Credito CRC</th>
           <th>Debito CRC</th>
           <th>Credito CRC</th>
         </tr>
       </thead>
       <tbody>
          <tr>
            <td>1</td>
             <td>DIV</td>
             <td>Costo</td>
             <td>cuenta</td>
             <td>deb crc</td>
             <td>ced crc</td>
             <td>deb usd</td>
             <td>crd usd</td>
          </tr>
          <tr>
            <td>1</td>
             <td>DIV</td>
             <td>Costo</td>
             <td>cuenta</td>
             <td>deb crc</td>
             <td>ced crc</td>
             <td>deb usd</td>
             <td>crd usd</td>
          </tr>  
       </tbody>
    </table>
  </main>


{% endblock %}