{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Nuevo Balance</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    
    </div>
  </div>
  <div>

    <br>
    <br>
    <form>
      <center>
      <table class="table" style="width: 80%;">

        <tbody>
          <tr>
            <td><b>Division</td>
            <td><b>Centro de Costos</td>
          </tr>
          <tr>
            <td><input type="date" name="fecha" class="form-control"></td>
            <td><input id="direccion" name="direccion" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><b>Cuenta</td>
            <td><b>Debito CRC</td>
          </tr>
          <tr>
            <td><input id="compania" name="compania" type="text" class="form-control"></td>
            <td><input id="ced_jud" name="ced_jud" type="text" class="form-control"></td>
          </tr>


          <tr>
            <td><b>Credito CRC</td>
            <td><b>Credito USD</td>
          </tr>
          <tr>
            <td><input id="division" name="division" type="text" class="form-control"></td>
            <td><input id="impuesto" name="impuesto" type="text" class="form-control"></td>
          </tr>


          <tr>
            <td><b>Cedito USD</td>
            <td><b>-</td>
          </tr>
          <tr>
            <td><input id="cliente" name="cliente" type="text" class="form-control"></td>
            <td>-</td>
          </tr>

        
        </tbody>
        </table>
    
          <button type="button" class="btn btn-success" onclick="activar_notificiacion_nuevo()">Guardar</button>
          <br>
          <br>
     
    </form>
  </div>

  </main>
{% endblock %}