{% extends "base.html" %}
{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap
    align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Cuentas por Cobrar</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <table class="table" id="table">
    <thead>
      <tr>
        <th>
          # Factura
        </th>
        <th>
          Compañía
        </th>
        <th>
          Tipo de Cuenta
        </th>
        <th>
          Período
        </th>
        <th>
          Monto CRC
        </th>
        <th>
          Botones
        </th>
      </tr>
    </thead>
    <tbody>
      {% for count in counts %}
      <tr>
        <td>
          {{count.CodigoFactura}}
        </td>
        <td>
          {{count.IdCompania}}
        </td>
        <td>
          {{count.IdTipoCuenta}}
        </td>
        <td>
          {{count.IdPeriodo}}
        </td>
        <td class="precio">
          ₡ {{count.Monto}}
        </td>
        <td>
          <div style="display: flex">
            <a style="margin-right: 5px" href="edicion_cuenta/{{count.id}}"
              type="button"
              class="btn btn-warning">Editar</a>
            <br>
            <button class="btn btn-danger" role="button" data-toggle="modal" data-target="#confirm-delete-modal" data-url="eliminar_cuenta/{{count.id}}">Eliminar</button>            
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <div class="modal" tabindex="-1" role="dialog" id="confirm-delete-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar eliminación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Estás seguro de que deseas eliminar la cuenta?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a href="#" class="btn btn-danger" id="confirm-delete-btn">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </table>
</main>
<script>
  $('#confirm-delete-modal').on('show.bs.modal', function(e) {
    $(this).find('#confirm-delete-btn').attr('href', $(e.relatedTarget).data('url'));
  });
</script>
<script src="../static/js/cuentas.js"></script>

{% endblock %}