{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Editar Cuenta por Cobrar o Pagar</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <div>
    <br>
    <br>
    <form action="editar_cuenta/{{id}}" method="post"> {% csrf_token %}
      <center>
        <table class="table" style="width: 80%;">
          <tbody>
            <tr>
              <td>
                <b>Fecha</b>
              </td>
              <td>
                <b>Compañía</b>
              </td>
            </tr>
            <tr>
              <td>
                <select id="IdPeriodo" name="IdPeriodo" class="form-control" required>
                  {% for p in periods %}
                  <option value="{{ p.pk }}" {% if p.pk == account.IdPeriodo.pk %} selected="selected" {% endif %}>
                    {{ p.FechaInicio }} - {{p.FechaFin}}
                  </option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="IdCompania" name="IdCompania" class="form-control" required>
                  {% for c in companies %}
                  <option value="{{ c.pk }}" {% if d.pk == account.IdCompania.pk %} selected="selected" {% endif %}>
                    {{ c.Nombre }}
                  </option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            <tr>              
              <td>
                <b>Tipo Cuenta</b>
              </td>
              <td>
                <b>Monto</b>
              </td>
            </tr>
            <tr>              
              <td><select id="IdTipoCuenta" name="IdTipoCuenta" class="form-control" required>
                  {% for tc in countType %}
                  <option value="{{ tc.pk }}" {% if tc.pk == account.IdTipoCuenta.pk %} selected="selected" {% endif %}>
                    {{ tc.TipoCuenta }}
                  </option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <input id="Monto" name="Monto" value="{{ account.Monto|floatformat:'0' }}" type="number" class="form-control" required>
              </td>
            </tr>
            <tr>
              <td>
                <b>Factura</b>
              </td>              
            </tr>
            <tr>
              <td>
                <input id="CodigoFactura" value="{{ account.CodigoFactura}}" name="CodigoFactura" type="text"
                  class="form-control" required>
              </td>              
            </tr>
          </tbody>
        </table>
        <a class="btn btn-info" type="button" href="/cuentas_cobrar">Volver</a>
        <button type="submit" class="btn btn-primary" onclick="activar_notificiacion_editar()">Actualizar</button>
        <br>
        <br>
    </form>
  </div>
</main>
{% endblock %}