{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Nueva Cuenta por Cobrar o Pagar</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <div>
    <br>
    <br>
    <form action="register_account" method="post">
      {% csrf_token %}
      <center>
        <table class="table" style="width: 80%;">
          <tbody>
            <tr>
              <td>
                <b>Periodo</b>
                <select id="IdPeriodo" name="IdPeriodo" class="form-control" required>
                  <option value="">Seleccione un periodo</option>
                  {% for p in periods %}
                  {% if p.Estado == 1 %}
                    <option value="{{ p.pk }}">
                      {{ p.FechaInicio }} - {{p.FechaFin}}
                    </option>
                  {% endif %}
                  {% endfor %}
                </select>

              </td>
              <td>
                <b>Compañía</b>
                <select id="IdCompania" name="IdCompania" class="form-control" required>
                  <option value="">Seleccione una compañia</option>
                  {% for c in companies %}
                  <option value="{{ c.pk }}">
                    {{ c.Nombre }}
                  </option>
                  {% endfor %}
                </select>

              </td>
            </tr>
       
            <tr>              
              <td>
                <b>Tipo Cuenta</b>
                <select id="IdTipoCuenta" name="IdTipoCuenta" class="form-control" required>
                  <option value="">Seleccione un tipo de cuenta</option>
                  {% for tc in countType %}
                  <option value="{{ tc.pk }}">
                    {{ tc.TipoCuenta }}
                  </option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <b>Monto</b>
                <input id="Monto" placeholder="Digite un monto" name="Monto" type="text" class="form-control" required>
              </td>
            </tr>
    
            <tr>
              <td>
                <b>Factura</b>
                <input id="CodigoFactura" placeholder="Digite un número de factura" name="CodigoFactura" type="text" class="form-control" required>
              </td>            
            </tr>
            
          </tbody>
        </table>
        <a class="btn btn-info" type="button" href="/cuentas_cobrar">Volver</a>
        <button type="submit" class="btn btn-success" onclick="activar_notificiacion_nuevo()">Guardar</button>
        <br>
        <br>
    </form>
  </div>
</main>
{% endblock %}