{% extends "base.html" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Editar Nómina</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <form action="editar_nomina/{{id}}" method="post"> {% csrf_token %}
    <center>
    <div class="form-group row">
      <label for="text1" class="col-2 col-form-label">Período</label> 
      <div class="col-4">
        <select id="periodo" name="periodo" class="form-control"> 
          <option value="{{ Nomina.IdPeriodo.pk }}">{{ Nomina.IdPeriodo }}</option>           
          {% for p in Periodos %}
          <option value="{{ p.pk }}">{{ p.Codigo }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="puesto " class="col-2 col-form-label">Compañía</label> 
      <div class="col-4">
        <select id="compañia" name="compañia" class="form-control">
          <option value="{{ Nomina.IdCompania.pk }}">{{ Nomina.IdCompania }}</option>                       
          {% for c in Compañias %}
          <option value="{{ c.pk }}">{{ c.Nombre }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="usuario" class="col-2 col-form-label">Cédula Empleado</label> 
      <div class="col-4">
        <input value="{{ Nomina.IdEmpleado.Cedula}}" type="text" name="empleado" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="usuario" class="col-2 col-form-label">Departamento</label> 
      <div class="col-4">
        <select id="departamento" name="departamento" class="form-control">            
          <option value="{{ Nomina.IdDepartamento.pk }}">{{ Nomina.IdDepartamento }}</option>           
          {% for d in Departamentos %}
          <option value="{{ d.pk }}">{{ d.Departamento }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="usuario" class="col-2 col-form-label">Monto</label> 
      <div class="col-4">
        <input value="{{ Nomina.Monto}}" type="text" name="monto" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-0 col-8">
        <button type="submit" class="btn btn-success" onclick="activar_notificiacion_editar()">Guardar</button>
      </div>
    </div>
  </center>
   
  </form>
  </main>


{% endblock %}