{% extends "base.html" %}

{% block body %}



<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-bottom-info">
    <h1 class="h2">Empleados</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <div>

    <br>
    <br>
    <form method="post">
    <CENTER>
      {% csrf_token%}
      <table class="table" style="width: 80%;">     
        <tr>
          <td><b>Correo</b></td>
          <td><input type="email" name="Correo" class="form-control"></td>          
        </tr>   
         {{form.as_table}}          
      </table>
     <button type="submit" class="btn btn-success" onclick="activar_notificiacion_nuevo()">Guardar</button>
     </CENTER>
     </form>
  </div>


  <br>
  </main>

  <script>
    $(document).ready(function(){
      $("#id_TipoCedula").attr("required",true);
    });
  </script>

{% endblock %}