<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Acco Management</title>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background: url(static/img/logo.jpeg);background-size: cover;background-position: center;"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">¿Olvidaste tu Contraseña?</h1>
                                    </div>
                                    <div class="form-group">
                                      {% for message in messages %}
                                      <div class="alert alert-info" role="alert">
                                        {{message}}
                                      </div>
                                      {% endfor %}
                                    </div>
                                    <form action="generateCode" method="post" class="form-horizontal">
                                      {% csrf_token%}
                                        <div class="form-group">
                                          <input type="text" class="form-control form-control-user" name="username" id="username" placeholder="Nombre de usuario" required>
                                        </div>
                                       
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Restablecer</button>                
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                      <a id="forgotPassword" class="small" href="./">Iniciar Sesión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
</body>
</html>

